{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    {% if 'usuario' in request.session %}
    <div class="container border rounded" style="margin-top: 2rem;width:100%;flex-direction:column;display:flex;align-items:center;justify-content:center;">
        <h4>Você já está logado!</h4>
        <p>Você já está logado com o email {{email}}</p>
        <p>Para efetuar o login novamente, clique em sair</p>
        <div class="d-flex gap-5">
            <a class="btn btn-warning" href="{% url 'sair' %}">Sair</a>
            <a class="btn btn-primary" href="{% url 'home' %}">Voltar</a>
        </div>
    </div>

    {% else %}

    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <h1>Login</h1>
            <hr>
            {% for message in messages %}
        {{message}}  
        <hr>
        {% endfor %}
            <label for="email" class="form-label">Email: </label>
            <input type="email" name="email" class="form-control" required>
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" required>
            <hr>
            <input type="submit" value="Enviar" class="btn btn-success">
            <input type="reset" value="Reset" class="btn btn-danger">
            <a class="btn btn-primary" style="margin-left: 53rem;" href="{% url 'cadastroUsers'%}">Cadastre-se</a>
        </form>
    </div>

    {% endif %}
    

{% endblock content %}



